<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.symphony"
    android:installLocation="internalOnly"
    android:versionCode="12"
    android:versionName="1.8">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="com.symphony.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.symphony.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:name=".E_Sampark"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="SymphonyHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dealerList.DealerListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>


        <provider
            android:name=".database.DBProvider"
            android:authorities="com.symphony.database.DBProvider"
            android:exported="false"></provider>

        <activity
            android:name=".distributer.DistributerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <action android:name="android.intent.action.SEARCH" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service android:name=".sms.SMSService"></service>


        <!--<receiver android:name=".distributer.DistributerActivity$LocationReceiver"></receiver>-->

        <service android:name=".sms.SyncManager">
            <action android:name="com.symphony.sms.WIPE_REPORT_DATA" />
            <action android:name="com.symphony.sms.DB_CHECK_FOR_DIST_PHOTO" />
        </service>
        <!-- </receiver> -->
        <receiver android:name=".receiver.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".receiver.MyService"></service>

        <receiver android:name=".sms.SyncAlaram"></receiver>
        <receiver android:name=".receiver.AlarmReceiver"></receiver>
        <receiver android:name=".receiver.LocationReceiver"></receiver>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.symphony" />
            </intent-filter>
        </receiver>

        <service
            android:name="SymphonyGCMService"
            android:enabled="true"></service>
        <service
            android:name=".service.TimeTickService"
            android:enabled="true"></service>
        <service android:name=".service.GetCheckInMeterService"></service>

        <activity
            android:name=".report.SymphonyReport"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--<receiver android:name=".distributer.CheckStatus$LocationFailedReceiver"></receiver>-->

        <receiver
            android:name="BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.symphony.restartalram" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>